language: cpp

os: windows

env:
  jobs:
    - CUDA=6.5
    - CUDA=8.0
    - CUDA=11.0

install:
  - echo $CUDA
  - powershell -Command Set-ExecutionPolicy unrestricted
  - powershell -NonInteractive "& 'travis-ci\\install-cuda.ps1' -Version '$CUDA'"

script:
  - powershell -Command Exit 0
